body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px; /* Размер шрифта */
    color: #0A143A; /* Цвет текста #0A143A */
}
.container {
    max-width: 1146px; /* Максимальная ширина */ 
    margin: auto; /* Автоматическое выравнивание по середине */
}
.header{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}
.navbar{
    display: flex; /* Делаем гибкий блок */
    align-items: center; /* Выравниваем по вертикали по центру */
    justify-content: space-between; /* разбросать элементы по краям */
    margin-bottom: 24px;
}
/* Меню в шапке */
.navbar-menu {
    margin-right: auto; /* Автоматический отступ справа */
}
.menu {
    list-style: none; /* Отключаем точки в списке */
    margin: 0; /* Обнуляем отступы */
    padding-left: 22px; /* Внутрений отступ слева */
    padding-right: 22px; /* Внутрений отступ справа */
    display: flex;
}
/* Для всех пунктов меню кроме последнего */
.menu-item:not(:last-child) {
    margin-right: 14px; /* Отступ справа 14 пикселей */
}
.menu-link {
    text-decoration: none; /* Отключаем подчеркивание ссылок */
    color: inherit; /* Возьми цвет текста как у родителя (body)*/
}
.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px; /* Сверху и снизу 10 пикселей, а по краям 15 пикселей */
    cursor: pointer;
}
.button-link{
    color: inherit;
}
.button-primary{
    background: #256EEB; /* Фон */
    border-radius: 5px; /* Скругление углов */
    color: white;
    padding: 10px 15px;
}
.search-panel{
    height: 50px; /* Высота поисковика */
    background: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}
.search-input{
    flex-grow: 1; /* Растягивается на все свободное место */
    background: #ffffff;
    border-radius: 5px;
    border: none; /* Отключаем обводку */
    padding-left: 22px;
    padding-right: 22px;
}
.search-button{
    background: #256EEB;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}
.search-button-text{
    padding-left: 5px;
}

.page-content{
    display: grid;
    grid-template-columns: 9fr 3fr; /* Создается две пространство у которых ест размер 9 калонок и 3 колонки */
    grid-column-gap: 30px; /* Задается пространство (воздух) между калонок */
}

.card-image{
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover; /* Обрезать картину если ано не подойдет данными параметрами */
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
    margin-right: 20px;
}
.card-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like{
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.card-link{
    text-decoration: none;
}
.card-price{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}
.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 4px;
    margin-top: 0;
}
.sidebar .page-title{
    font-size: 18px;
    line-height: 21px;
}
.service{
    margin-bottom: 25px;
}
.service-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
    margin-top: 7px;
    margin-bottom: 5px;
}
.service-text{
    font-size: 14px;
    line-height: 16px;
    color: #0A143A;
    max-width: 217px;
}
.footer-text{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}
.footer-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}
.footer-link{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}